body {
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    animation-name: siteEnter;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#FullDetails {
    display: flex;
    padding-top: 2vh;
    gap: 5vh;
    justify-items: center;
    justify-content: center;
}

a {
    font-family: monospace;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;

    text-wrap: balance;
    white-space: pre-wrap;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
    color: rgb(0, 255, 100);
    text-decoration: underline;
    transform: scaleX(1.05) scaleY(1.05);
}

a:active {
    color: rgb(0, 100, 255);
    text-decoration: line-through;
    transform: scaleX(1) scaleY(1);
}

.Button {
    font-family: monospace;
    border: 0.3vh, solid, rgb(0, 0, 0);
    border-radius: 0.5vh;
    height: 5vh;
    width: 15vh;
    background-color: rgb(0, 0, 100);
    color: rgb(255, 255, 255);
    cursor: pointer;

    text-wrap: balance;
    white-space: pre-wrap;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    transform: scaleX(1.05) scaleY(1.05);
}

.Button:hover:active {
    background-color: rgb(0, 200, 100);
    color: rgb(0, 0, 0);

    transform: scaleX(1) scaleY(1);
}

.Image {
    border: 0.3vh, solid, rgb(0, 0, 0);
    border-radius: 0.5vh;
    height: 30vh;
    width: 30vh;
}

.AccImage {
    border: 0.3vh, solid, rgb(0, 0, 0);
    border-radius: 3.141592653589793238462643383279502884197169399375105820974944592307816406286208998628034825342117067982148086513282306647093844609550582231725359408128481117450284102701938521105559644622948954930381964428810975665933446128475648233786783165271201909145648566923460348610454326648213393607260249141273724587006vh;
    height: 6vh;
    width: 6vh;
}

textarea {
    height: 30vh;
    width: 25vh;
}

summary {
    cursor: pointer;
}

@keyframes siteEnter {
    from {
        background-color: rgb(0, 0, 0);
    }

    to {
        background-color: rgb(0, 0, 50);
    }
}