body {
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    animation-name: siteEnter;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Main {
    display: list-item;
}

.Button {
    font-family: monospace;
    border: 0.3vh, solid, rgb(0, 0, 0);
    border-radius: 0.5vh;
    height: 5vh;
    width: 15vh;
    background-color: rgb(0, 0, 125);
    color: rgb(255, 255, 255);
    cursor: pointer;

    text-wrap: balance;
    white-space: pre-wrap;

    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    transform: scale(1.05);
}

.Image {
    border: 0.3vh, solid, rgb(0, 0, 0);
    border-radius: 0.5vh;
    height: 30vh;
    width: 30vh;
}

.AccImage {
    border: 0.3vh, solid, rgb(0, 0, 0);
    border-radius: 3.14159265359vh;
    height: 6vh;
    width: 6vh;
}

textarea {
    height: 30vh;
    width: 25vh;
}

@keyframes siteEnter {
    from {
        background-color: rgb(0, 0, 0);
    }

    to {
        background-color: rgb(0, 0, 50);
    }
}